{% extends 'base.html' %}

{% block content %}

<form method="post">

    <tr>
        <td><label for="username">Username</label></td>
        <td><input type="text" name="username" value="{{username}}">

        </td>
    </tr>
    <tr>
        <td>
    <label>
        <div>password</div>
        <input type="password" name="password" value="{{password}}"
    </label>
        </td>
    </tr>

    <div class="error">{{ error }}</div>
    <tr>
        <td>
    <input type="submit">
        </td>
    </tr>


</form>





{% endblock %}
